/build-aux
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/mdate-sh
doc/texinfo.tex
install-sh
lisp/Makefile
lisp/Makefile.in
lisp/riece-package-info.el
lisp/test/Makefile
lisp/test/Makefile.in
missing
lisp/*.elc
doc/version-en.texi
doc/version-ja.texi
doc/stamp-1
doc/stamp-vti
doc/riece-en.info
doc/riece-ja.info
lisp/auto-autoloads.el
lisp/custom-load.el
lisp/custom-defines.el
*~
\#*#
*.orig
*.bak
++*
,,*
=*
/gitlog-to-changelog
