COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/mdate-sh
doc/texinfo.tex
install-sh
lisp/Makefile
lisp/Makefile.in
lisp/riece-package-info.el
lisp/test/Makefile
lisp/test/Makefile.in
missing
